<%dataArr.forEach(function(item){%>
<a href="#">
    <span class="label label-primary"><i class="icon_profile"></i></span><%=item.tel%>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="small italic pull-right"><%=item.addtime%></span>
</a>
<%})%>
<script src="js/ours/order-accept.js"></script>